@charset "utf-8";

// Navigation Bar: Microsoft Tai Le => noto sans
// Title/ Sub-title: Montserrat Bold
// Description: Microsoft Tai Le => noto sans

// Navigation Bar: 27 pt
// Why Us: 54 pt
// Treatment and Therapies: 60 pt
// Laser Treatment, etc (yg pakai icon, belakang ada fotonya): 28 pt; description: 18 pt
// Title (Laser Treatment, Slimming Programs, etc): 91 pt
// Subtitle (Fotona 4D, Tattoo Removal, etc): 36 pt
// Description: 24 pt
// Subtitle (Skin Booster, Lifting): 60 pt

// Navigation bar: #c6bd95
// Ornaments, Subtitle (untuk yg pakai icon): #c89900
// Title, Description: #66482e
// Social media icon: #c6bd95 => SAMA SAMA NAVBAR
// BG icon: #f4f0e4
// BG Foto: #eaece4 (Photo opacity 20%)

$custom-color-one: #e2dbbb;
$custom-color-two: #eaece4;
$custom-color-three: #66482e;
$custom-color-four: #c89900;
$custom-color-five: #f4f0e4;
$custom-color-six: #c6bd95;

$custom-theme-colors: (
  'one': $custom-color-one,
  'photo': $custom-color-two,
  'title': $custom-color-three,
  'ornaments': $custom-color-four,
  'icon': $custom-color-five,
  'navbar': $custom-color-six,
) !default;

$body-bg: white;
$body-color: $custom-color-three;

$primary: #474b60;
$secondary: #ffffff;
$success: #6a8e7f;
$info: #38aecc;
$warning: #e59500;
$danger: #f67e7d;

@each $color, $value in $custom-theme-colors {
  .c-color-#{$color} {
    color: $value !important;
  }
}

@each $color, $value in $custom-theme-colors {
  .c-bg-#{$color} {
    background-color: $value !important;
  }
}

$carousel-transition-duration: 1s;
